<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987507470667-cticaaiq5q1p9bh57vo1pr328jlcl9no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987507470667-cticaaiq5q1p9bh57vo1pr328jlcl9no</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBiVvPPMbPkPlBH8h8ca_VRJrZOtKkk4</string>
	<key>GCM_SENDER_ID</key>
	<string>987507470667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.cobsccomp201p007.SMLagamuwa-CoBScComp201p-007</string>
	<key>PROJECT_ID</key>
	<string>ios-nibm-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-nibm-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987507470667:ios:0d411711b06bc9da9c78ce</string>
</dict>
</plist>